  <div class="card">
    <div id="activity<#DATAROW field="Id">">
      <div class="card-body">
					<div class="row">				
							<div class="col-lg-8 col-md-12 text-muted">
									<h4 class="card-title">
											<a href="aeon.dll?&Action=10&Form=91&Value=<#DATAROW field="Id">"><#DATAROW field="Name"></a>
										</h4>

										<div class="field text-muted">Description&nbsp;
												<span class="field-value font-weight-bold">
														<#DATAROW field="Description">
												</span>
										</div>

											<div  class="field mb2 text-muted" data-toggle="tooltip" data-placement="right" title="<#DATAROW field="ActivityStatus"> on <#DATAROW field="ActivityStatusDate">">
												Status&nbsp;<span class="field-value font-weight-bold"><#DATAROW field="ActivityStatus"></span>
											</div>				
								
							</div>		
					
							<div class="col-lg-4 col-md-12 text-left">
		
									<div class="btn-group" role="group" aria-label="Actions for Reqest <#DATAROW field="TransactionNumber">">
											<a class="btn btn-primary" role="button" href="aeon.dll?&Action=10&Form=91&Value=<#DATAROW field="Id">"><span aria-hidden="true" class="fa fa-info-circle"></span> &nbsp;Details</a>

											<div class="btn-group" role="group">
											<button id="btnGroupActivityDrop<#DATAROW field="Id">" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												 <span aria-hidden="true" class="fas fa-file-download"></span> &nbsp;Download
											</button>
											<div class="dropdown-menu" aria-labelledby="btnGroupDrop<#DATAROW field="TransactionNumber">">
												<a class="dropdown-item btn btn-light" href="aeon.dll?Action=10&amp;Form=92&amp;Value=<#DATAROW field="ID">" class="menuDownloadXls"><span aria-hidden="true" class="far fa-file-excel"></span> &nbsp;XLS</a>
												<a class="dropdown-item btn btn-light" href="aeon.dll?Action=10&amp;Form=93&amp;Value=<#DATAROW field="ID">" class="menuDownloadiCalendar"><span aria-hidden="true" class="far fa-calendar-plus"></span> &nbsp;iCalendar</a>
											</div>
											</div>
										</div>

											<div class="field text-muted">Start Date&nbsp;
												<span class="field-value font-weight-bold convert-local" data-iso8601="<#DATAROW field="BeginDate" display="ISO8601">"><#DATAROW field="BeginDate"></span>
											</div>

												<div class="field text-muted">End Date&nbsp;
												    <span class="field-value font-weight-bold convert-local" data-iso8601="<#DATAROW field="EndDate" display="ISO8601">"><#DATAROW field="EndDate"></span>
												</div>
										</div>
							</div>
      </div>
    </div>
  </div>
